/* Osnovni stilovi za stranicu Moji Podkasti */
.my-podcasts-page {
    font-family: 'Arial', sans-serif;
    background-color: #1e1e2e;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  /* Glavni sadržaj */
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  
  /* Kartice za podkaste */
  .podcast-card {
    display: flex;
    background-color: #29293d;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    gap: 20px;
  }
  
  .podcast-thumbnail {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    
  }
  
  .podcast-details {
    flex: 1;
  }
  
  .podcast-details h3 {
    margin: 0 0 10px;
    color: #ff5722; /* Akcent boja */
  }
  
  .podcast-details p {
    margin: 0;
    color: #d1d1e0;
  }
  

  /* Paginacija */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: 'Arial', sans-serif;
  color: #d1d1e0; /* Svetlo siva za tekst */
}

/* Dugmadi u paginaciji */
.pagination button {
  background-color: #29293d; /* Tamna pozadina */
  color: #d1d1e0; /* Svetla boja za tekst */
  border: 2px solid #29293d;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Dugme koje je aktivno (ako je izabrano) */
.pagination button:disabled {
  background-color: #555555; /* Siva boja za neaktivna dugmad */
  cursor: not-allowed;
  border-color: #555555;
}

/* Hover efekat za dugmadi */
.pagination button:hover:not(:disabled) {
  background-color: #ff5722; /* Akcentna narandžasta boja */
  border-color: #ff5722;
  color: white; /* Belo slovo na hover */
}

/* Tekst u paginaciji */
.pagination span {
  font-size: 1.1rem;
  color: #d1d1e0; /* Svetlo siva boja za tekst */
}
